spring:
  application:
    name: DemoMarcial
  datasource:
    url: jdbc:h2:mem:demo;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

app:
  jwt:
    secret: change-this-secret-to-a-random-256-bit-value
    expiration: 86400000 # 24h en ms
  cors:
    allowed-origins:
      - http://localhost:8100
      - capacitor://localhost
      - http://localhost
      - https://nakmuay-api-nfg4.onrender.com

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
